p {
  font-family: "Comic Sans MS", "Comic Sans", cursive, sans-serif;
  font-size: 24px;
}
img {
  max-width: 300px;
  max-height: 300px;
}
h1 {
  background: #FFFF00;
  padding: 10px;
  display: inline-block;
}
